.carousel_image{
    /* width: 1000px; */
    width:100%;
    /* max-height: 550px; */
    height: 460px;

/* max-width: 900px; */
    object-fit: fill;
    
/* height: 550px; */

/* border: solid 2px; */
/* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)) */
/* //z-index: -1; */
/* //margin-bottom: -150px; */
}
/* .anchor{padding-left: 2px;} */
/* .anchor a:hover{background-color: maroon; color: mintcream;} */