.bg{
    /* background-image: url("/logo.png");
    background-repeat: no-repeat; */
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}

.news1{
    background: #EB5757;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mtech{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    height: 400px;
    width: 345px;
    border-radius:15px;
    margin-top: 10px;

    -moz-box-shadow: 4px 0px 5px #b82c09;
    -webkit-box-shadow: 4px 0px 5px #b82c09;
    box-shadow: 4px 0px 5px #b82c09;
    }
.pgd{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    height: 400px;
    width: 345px;
    border-radius:15px;
    margin-top: 10px;
    
    -moz-box-shadow: 4px 0px 5px #b82c09;
    -webkit-box-shadow: 4px 0px 5px #b82c09;
    box-shadow: 4px 0px 5px #b82c09;
}
.shortTerm{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    height: 400px;
    width: 345px;
    border-radius:15px;
    margin-top: 10px;
    
    -moz-box-shadow: 4px 0px 5px #b82c09;
    -webkit-box-shadow: 4px 0px 5px #b82c09;
    box-shadow: 4px 0px 5px #b82c09;
}
.newsTopImage{
    height: 140px;
    width: 100%;
    object-fit: fill;
    }
.newsContent{
    margin:10px;
    text-align: justify;
    text-justify: inter-word;
    /* background-image: url("/logo.png");
    background-repeat: no-repeat;
    opacity: 0.2; */
}
.newsFooter{
    padding:10px;
    margin-top:20px;
}

.rotate {
    /* margin: 40px; */
    /* width: 90px;
    height: 90px;
    background-color: #cc2a41; */
    animation: spin 50s infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .social{
      display: block;
      width: 150px;
      margin: auto;
      margin-bottom: 15px;;
  }
  .carousel_image{
    /* width: 1000px; */
    width:100%;
    /* max-height: 550px; */
    height: 470px;

/* max-width: 900px; */
    object-fit: fill;
    
/* height: 550px; */

/* border: solid 2px; */
/* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)) */
/* //z-index: -1; */
/* //margin-bottom: -150px; */
}
/* .anchor{padding-left: 2px;} */
/* .anchor a:hover{background-color: maroon; color: mintcream;} */
 
.container {
    display: flex; /* or inline-flex */
    direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    max-height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 145px;
    position:relative;
    }
.content{
    position: absolute; /* Position the background text */
    bottom: 0px; /* At the bottom. Use top:0 to append it to the top */
    background: #d2a679; /* Fallback color */
    background: rgba(165, 147, 147, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    }
.fontStyle{
    margin-left:10px;
    font-weight:bold;
    font-size:50px;
    }
          
@keyframes zoominoutheader {
    100% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    0% {
        transform: scale(1,1);
    }
}

.zoominoutheaderstyle {
    animation: zoominoutheader 15s forwards;
    width:100%;
    height:300px;
    object-fit:cover;
    
}